// creo un file scss per gestire alcuni stili che specifici che non posso controllare direttamente in HTML con Bootstrap

main {
  img {
    height: 255px;
    width: 255px;
    @media screen and (min-width: 992px) {
      height: 140px;
      width: 140px;
    }
  }
  .title {
    font-size: 4rem;
  }
  input {
    &::placeholder {
      color: white;
    }
  }
}

label {
  font-size: 0.8rem;
}
.show-title {
  font-size: 0.9rem;
}
